.each-project {
  list-style-type: none;
  width:100%;
  margin:0;
  margin-bottom:20px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color:white;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}

.each-project:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

@media screen and (min-width:450px) {
  .each-project{
    width:85%;
    margin-left:4px;
    margin-right:4px;
    margin-bottom:30px;
    margin-top:30px;
  }
}
@media screen and (min-width:600px) {
  .each-project{
    width:46%;
    margin-left:4px;
    margin-right:4px;
    margin-bottom:55px;
    margin-top:30px;
  }
}
@media screen and (min-width:992px) {
  .each-project{
    width:28%;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:70px;
    margin-top:30px;
  }
}
.image {
width:100%;
}
.project-title {
  color:crimson;
  font-family:sans-serif;
  font-size:18px;
  font-weight:bold;
  margin-left:10px;
}

@media screen and (min-width:576px) {
  .project-title {
    font-size:20px;
  }
}

@media screen and (min-width:768px) {
  .project-title {
    font-size:23px;
  }
}

@media screen and (min-width:992px) {
  .project-title {
    font-size:25px;
  }
}
.main-project-description {
  color:black;
  font-size:10px;
  margin-left:10px;
}

@media screen and (min-width:576px) {
  .main-project-description {
    font-size:12px;
  }
}

@media screen and (min-width:768px) {
  .main-project-description {
    font-size:14px;
  }
}

@media screen and (min-width:992px) {
  .main-project-description {
    font-size:16px;
  }
}